html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
